.buttons {
  .form__row {
    width: 100%;
    display: flex;
    align-items: center;

    .field {
      display: none;

      &:checked {
        + label {
          &:before {
            background: var(--white);
            border: 1px solid;
            transition: background 0.3s;
          }
        }

        + label {
          &::after {
            opacity: 1;
            transition: all;
            height: 13px;
            width: 13px;
            border-radius: 100%;
            left: 4px;
            top: 4px;
            background: var(--bordo-90);
          }
        }
      }

      &.active {
        &:checked {
          + label {
            &:before {
              background: var(--bordo-90);
              border: 1px solid var(--bordo-90);
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              background: transparent;
              height: 0.625rem;
              width: 0.3125rem;
              border: 0.125rem solid var(--white);
              border-top: 0;
              border-left: 0;
              border-radius: 0;
              left: 0.4375rem;
              top: 0.125rem;
            }
          }
        }
      }
    }

    .label__field {
      font-size: 1rem;
      color: var(--bordo-90);
      margin-left: 0.5rem;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 4;

      &:before {
        content: "";
        border-radius: 100%;
        width: 1.25rem;
        height: 1.25rem;
        display: block;
        background: var(--white);
        border: 0.0625rem solid var(--bordo-90);
        margin-right: 0.5rem;
        transition: background 0.3s;
      }

      &::after {
        content: "";
        height: 10px;
        width: 5px;
        background: transparent;
        border: 1.9px solid var(--bordo-90);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 3px;
        position: absolute;
        transform: rotate(40deg);
        opacity: 0;
        transition: opacity 0.3s;
      }

      &.active {
        &:before {
          content: "";
          border-radius: 0;
          width: 1.125rem;
          height: 1.125rem;
          border-radius: 0.125rem;
          display: block;
          background: var(--white);
          border: 1px solid var(--bordo-90);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 0.625rem;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--bordo-90);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
    }
  }

  &.buttons-primary-positive {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      .form__row {
        margin-bottom: 1rem;
      }
    }

    .form__row {
      .field {
        &:checked {
          + label {
            &:before {
              background: var(--pink-10);
              border: 1px solid;
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              height: 13px;
              width: 13px;
              border-radius: 100%;
              left: 4px;
              top: 4px;
              background: var(--bordo-90);
            }
          }
        }
        &.active {
          &:checked {
            + label {
              &:before {
                background: var(--bordo-90);
                border: 1px solid var(--bordo-90);
                transition: background 0.3s;
              }
            }

            + label {
              &::after {
                opacity: 1;
                transition: all;
                background: transparent;
                height: 0.625rem;
                width: 0.3125rem;
                border: 0.125rem solid var(--pink-10);
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                left: 0.4375rem;
                top: 0.125rem;
              }
            }
          }
        }
      }

      .label__field {
        font-size: 1rem;
        color: var(--bordo-90);
        margin-left: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        &:before {
          content: "";
          border-radius: 100%;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          background: var(--pink-10);
          border: 0.0625rem solid var(--bordo-90);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 10px;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--bordo-90);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.active {
          &:before {
            content: "";
            border-radius: 0;
            width: 1.125rem;
            height: 1.125rem;
            display: block;
            background: var(--pink-10);
            border: 1px solid var(--bordo-90);
            border-radius: 0.125rem;
            margin-right: 0.5rem;
            transition: background 0.3s;
          }

          &::after {
            content: "";
            height: 0.625rem;
            width: 5px;
            background: transparent;
            border: 1.9px solid var(--bordo-90);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 3px;
            position: absolute;
            transform: rotate(40deg);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }

  &.buttons-primary-negative {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      .form__row {
        margin-bottom: 1rem;
      }
    }

    .form__row {
      .field {
        &:checked {
          + label {
            &:before {
              background: var(--bordo-90);
              border: 1px solid var(--pink-10);
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              height: 0.8125rem;
              width: 0.8125rem;
              border-radius: 100%;
              left: 4px;
              top: 4.5px;
              background: var(--pink-10);
            }
          }
        }

        &.active {
          &:checked {
            + label {
              &:before {
                background: var(--pink-10);
                border: 1px solid var(--pink-10);
                transition: background 0.3s;
              }
            }

            + label {
              &::after {
                opacity: 1;
                transition: all;
                background: transparent;
                height: 0.625rem;
                width: 0.3125rem;
                border: 0.125rem solid var(--bordo-90);
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                left: 0.4375rem;
                top: 0.125rem;
              }
            }
          }
        }
      }

      .label__field {
        font-size: 1rem;
        color: var(--pink-10);
        margin-left: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        &:before {
          content: "";
          border-radius: 100%;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          background: var(--bordo-90);
          border: 0.0625rem solid var(--pink-10);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 10px;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--bordo-90);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.active {
          &:before {
            content: "";
            border-radius: 0;
            width: 1.125rem;
            height: 1.125rem;
            display: block;
            background: var(--bordo-90);
            border: 1px solid var(--pink-10);
            margin-right: 0.5rem;
            border-radius: 0.125rem;
            transition: background 0.3s;
          }

          &::after {
            content: "";
            height: 0.625rem;
            width: 5px;
            background: transparent;
            border: 1.9px solid var(--bordo-90);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 3px;
            position: absolute;
            transform: rotate(40deg);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }

  &.buttons-primary-color {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      .form__row {
        margin-bottom: 1rem;
      }
    }

    .form__row {
      .field {
        &:checked {
          + label {
            &:before {
              background: var(--red-60);
              border: 1px solid var(--pink-10);
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              height: 13px;
              width: 13px;
              border-radius: 100%;
              left: 4px;
              top: 4px;
              background: var(--pink-10);
            }
          }
        }

        &.active {
          &:checked {
            + label {
              &:before {
                background: var(--pink-10);
                border: 1px solid var(--red-60);
                transition: background 0.3s;
              }
            }

            + label {
              &::after {
                opacity: 1;
                transition: all;
                background: transparent;
                height: 0.625rem;
                width: 0.3125rem;
                border: 0.125rem solid var(--red-60);
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                left: 0.4375rem;
                top: 0.125rem;
              }
            }
          }
        }
      }

      .label__field {
        font-size: 1rem;
        color: var(--pink-10);
        margin-left: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        &:before {
          content: "";
          border-radius: 100%;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          background: var(--red-60);
          border: 0.0625rem solid var(--pink-10);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 10px;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--pink-10);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.active {
          &:before {
            content: "";
            border-radius: 0;
            width: 1.125rem;
            height: 1.125rem;
            display: block;
            border-radius: 0.125rem;
            background: var(--red-60);
            border: 1px solid var(--pink-10);
            margin-right: 0.5rem;
            transition: background 0.3s;
          }

          &::after {
            content: "";
            height: 0.625rem;
            width: 5px;
            background: transparent;
            border: 1.9px solid var(--red-60);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 3px;
            position: absolute;
            transform: rotate(40deg);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }

  &.buttons-secondary-positive {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      .form__row {
        margin-bottom: 1rem;
      }
    }

    .form__row {
      .field {
        &:checked {
          + label {
            &:before {
              background: var(--gray-20);
              border: 1px solid var(--brown-90);
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              height: 13px;
              width: 13px;
              border-radius: 100%;
              left: 4px;
              top: 4px;
              background: var(--brown-90);
            }
          }
        }

        &.active {
          &:checked {
            + label {
              &:before {
                background: var(--brown-90);
                border: 1px solid var(--brown-90);
                transition: background 0.3s;
              }
            }

            + label {
              &::after {
                opacity: 1;
                transition: all;
                background: transparent;
                height: 0.625rem;
                width: 0.3125rem;
                border: 0.125rem solid var(--gray-20);
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                left: 0.4375rem;
                top: 0.125rem;
              }
            }
          }
        }
      }

      .label__field {
        font-size: 1rem;
        color: var(--brown-90);
        margin-left: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        &:before {
          content: "";
          border-radius: 100%;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          background: var(--gray-20);
          border: 0.0625rem solid var(--brown-90);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 10px;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--brown-90);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.active {
          &:before {
            content: "";
            border-radius: 0;
            width: 1.125rem;
            height: 1.125rem;
            display: block;
            border-radius: 0.125rem;
            background: var(--gray-20);
            border: 1px solid var(--brown-90);
            margin-right: 0.5rem;
            transition: background 0.3s;
          }

          &::after {
            content: "";
            height: 0.625rem;
            width: 5px;
            background: transparent;
            border: 1.9px solid var(--brown-90);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 3px;
            position: absolute;
            transform: rotate(40deg);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }

  &.buttons-secondary-negative {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      .form__row {
        margin-bottom: 1rem;
      }
    }

    .form__row {
      .field {
        &:checked {
          + label {
            &:before {
              background: var(--brown-90);
              border: 1px solid var(--gray-20);
              transition: background 0.3s;
            }
          }

          + label {
            &::after {
              opacity: 1;
              transition: all;
              height: 13px;
              width: 13px;
              border-radius: 100%;
              left: 4px;
              top: 4px;
              background: var(--gray-20);
            }
          }
        }

        &.active {
          &:checked {
            + label {
              &:before {
                background: var(--gray-20);
                border: 1px solid var(--gray-20);
                transition: background 0.3s;
              }
            }

            + label {
              &::after {
                opacity: 1;
                transition: all;
                background: transparent;
                height: 0.625rem;
                width: 0.3125rem;
                border: 0.125rem solid var(--brown-90);
                border-top: 0;
                border-left: 0;
                border-radius: 0;
                left: 0.4375rem;
                top: 0.125rem;
              }
            }
          }
        }
      }

      .label__field {
        font-size: 1rem;
        color: var(--gray-20);
        margin-left: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;

        &:before {
          content: "";
          border-radius: 100%;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          background: var(--brown-90);
          border: 0.0625rem solid var(--gray-20);
          margin-right: 0.5rem;
          transition: background 0.3s;
        }

        &::after {
          content: "";
          height: 10px;
          width: 5px;
          background: transparent;
          border: 1.9px solid var(--gray-20);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 3px;
          position: absolute;
          transform: rotate(40deg);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.active {
          &:before {
            content: "";
            border-radius: 0;
            width: 1.125rem;
            height: 1.125rem;
            display: block;
            border-radius: 0.125rem;
            background: var(--brown-90);
            border: 1px solid var(--gray-20);
            margin-right: 0.5rem;
            transition: background 0.3s;
          }

          &::after {
            content: "";
            height: 0.625rem;
            width: 5px;
            background: transparent;
            border: 1.9px solid var(--gray-20);
            border-top: 0;
            border-left: 0;
            left: 7px;
            top: 3px;
            position: absolute;
            transform: rotate(40deg);
            opacity: 0;
            transition: opacity 0.3s;
          }
        }
      }
    }
  }
}
