.card {
  margin: 30px auto;

  &-vertical {
    max-width: 300px;
    min-height: 500px;

    &__image {
      max-width: 100%;
      height: 349px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__bottom {
      min-height: 150px;
      padding: 30px;

      &.pink-10 {
        background-color: var(--pink-10);
      }

      &.bordo-60 {
        background-color: var(--bordo-60);
      }

      &.gray-20,
      &.undefined {
        background-color: var(--gray-20);
      }

      &.brown-90 {
        background-color: var(--brown-90);
      }
    }

    &__title {
      font-weight: 500;
      margin-bottom: 5px;

      &.pink-10 {
        color: var(--bordo-60);
      }

      &.bordo-60 {
        color: var(--pink-10);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__subtitle {
      font-weight: 400;
      font-size: 14px;
      color: var(--brown-50);
      
      &.pink-10 {
        color: var(--red-90);
      }
      
      &.bordo-60 {
        color: var(--pink-90);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__buttons {
      display: flex;
      align-items: center;

      margin-top: 10px;
    }

    a {
      text-decoration: none;
    }

    &__button-1 {
      padding: 9px 26px;
      background-color: var(--brown-90);
      color: var(--gray-20);
      border: 1px solid var(--gray-20);
      border-radius: 3px;
      margin-right: 10px;

      &.pink-10 {
        background-color: var(--red-60);
        border: 1px solid var(--red-60);
        color: var(--white);
      }
      
      &.bordo-60 {
        background-color: var(--pink-10);
        border: 1px solid var(--pink-10);
        color: var(--bordo-60);
      }

      &.gray-20 {
        background-color: var(--red-60);
        border: 1px solid var(--red-60);
        color: var(--gray-10);
      }
      
      &.brown-90 {
        background-color: var(--gray-20);
        border: 1px solid var(--gray-20);
        color: var(--brown-90);
      }
    }

    &__button-2 {
      padding: 9px 26px;
      background-color: var(--gray-20);
      color: var(--brown-90);
      border: 1px solid var(--brown-90);
      border-radius: 3px;
      margin-right: 10px;

      &.pink-10 {
        background-color: var(--pink-10);
        border: 1px solid var(--red-50);
        color: var(--red-50);
      }

      &.bordo-60 {
        background-color: var(--bordo-60);
        border: 1px solid var(--pink-10);
        color: var(--pink-10);
      }

      &.gray-20 {
        background-color: var(--gray-20);
        border: 1px solid var(--red-50);
        color: var(--red-50);
      }

      &.brown-90 {
        background-color: var(--gray-90);
        border: 1px solid var(--gray-20);
        color: var(--gray-20);
      }
    }
  }

  &-horizontal {
    max-width: 600px;
    height: 353px;

    &__image {
      max-width: 100%;
      height: 250px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__bottom {
      min-height: 100px;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.pink-10 {
        background-color: var(--pink-10);
      }

      &.bordo-60 {
        background-color: var(--bordo-60);
      }

      &.gray-20,
      &.undefined {
        background-color: var(--gray-20);
      }

      &.brown-90 {
        background-color: var(--brown-90);
      }
    }

    &__title {
      font-weight: 500;
      margin-bottom: 5px;
      
      &.pink-10 {
        color: var(--bordo-60);
      }

      &.bordo-60 {
        color: var(--pink-10);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__subtitle {
      font-weight: 400;
      font-size: 14px;
      color: var(--brown-50);
     
      &.pink-10 {
        color: var(--red-90);
      }
      
      &.bordo-60 {
        color: var(--pink-90);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__buttons {
      display: flex;
      align-items: center;

      margin-top: 10px;
    }

    a {
      text-decoration: none;
    }

    &__button-1 {
      padding: 9px 26px;
      background-color: var(--brown-90);
      color: var(--gray-20);
      border: 1px solid var(--gray-20);
      border-radius: 3px;
      margin-right: 10px;

      &.pink-10 {
        background-color: var(--red-60);
        border: 1px solid var(--red-60);
        color: var(--white);
      }
      
      &.bordo-60 {
        background-color: var(--pink-10);
        border: 1px solid var(--pink-10);
        color: var(--bordo-60);
      }

      &.gray-20 {
        background-color: var(--red-60);
        border: 1px solid var(--red-60);
        color: var(--gray-10);
      }
      
      &.brown-90 {
        background-color: var(--gray-20);
        border: 1px solid var(--gray-20);
        color: var(--brown-90);
      }
    }

    &__button-2 {
      padding: 9px 26px;
      background-color: var(--gray-20);
      color: var(--brown-90);
      border: 1px solid var(--brown-90);
      border-radius: 3px;
      margin-right: 10px;
      
      &.pink-10 {
        background-color: var(--pink-10);
        border: 1px solid var(--red-50);
        color: var(--red-50);
      }

      &.bordo-60 {
        background-color: var(--bordo-60);
        border: 1px solid var(--pink-10);
        color: var(--pink-10);
      }

      &.gray-20 {
        background-color: var(--gray-20);
        border: 1px solid var(--red-50);
        color: var(--red-50);
      }

      &.brown-90 {
        background-color: var(--gray-90);
        border: 1px solid var(--gray-20);
        color: var(--gray-20);
      }
    }
  }

  &-mobile {
    width: 100%;
    max-width: 375px;
    height: 153px;
    display: flex;

    &__image {
      max-width: 188px;
      height: 150px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__bottom {
      width: calc(100% - 188px);
      min-height: 150px;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      
      &.pink-10 {
        background-color: var(--pink-10);
      }

      &.bordo-60 {
        background-color: var(--bordo-60);
      }

      &.gray-20,
      &.undefined {
        background-color: var(--gray-20);
      }

      &.brown-90 {
        background-color: var(--brown-90);
      }
    }

    &__title {
      font-weight: 500;
      margin-bottom: 5px;
            
      &.pink-10 {
        color: var(--bordo-60);
      }

      &.bordo-60 {
        color: var(--pink-10);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__subtitle {
      font-weight: 400;
      font-size: 14px;
      color: var(--brown-50);
           
      &.pink-10 {
        color: var(--red-90);
      }
      
      &.bordo-60 {
        color: var(--pink-90);
      }

      &.brown-90 {
        color: var(--gray-20);
      }
    }

    &__buttons {
      display: none;
    }

    a {
      text-decoration: none;
    }

    &__button-1 {
      padding: 9px 26px;
      background-color: var(--brown-90);
      color: var(--gray-20);
      border: 1px solid var(--gray-20);
      border-radius: 3px;
      margin-right: 10px;
    }

    &__button-2 {
      padding: 9px 26px;
      background-color: var(--gray-20);
      color: var(--brown-90);
      border: 1px solid var(--brown-90);
      border-radius: 3px;
      margin-right: 10px;
    }
  }
}
